<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Island Detail Page for {{ name }} </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<div id="container">
    <article>

<h1>{{ name }}</h1>

<p>Population of the Island: {{ population }}</p>

<p>Percentage of the Caribbean: {{ percentage }}</p>

<p><a href="{{ url_for('index') }}">Return to list</a></p>

    </article>
</div>

</body>
</html>
